#u568-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u576-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u583-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u589-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u595-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u78-7
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u90-4,#u99-4,#u91-4,#u100-4,#u92-4,#u93-4,#u101-4,#u94-4,#u102-4,#u95-4,#u103-4,#u96-4
{
	font-family: neuton-i4, serif;
}

#u77-10,#u83-2,#u83-6,#u83-8,#u83-10,#u84-11,#u85-14,#u86-10,#u87-7
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u77-2,#u83-4,#u84-4,#u84-7,#u85-4,#u85-10,#u86-6,#u87-2
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u90-2,#u99-2,#u91-2,#u100-2,#u92-2,#u93-2,#u101-2,#u94-2,#u102-2,#u95-2,#u103-2,#u96-2,#u320-4,#u306-4,#u292-4,#u379-4,#u334-4
{
	font-family: neuton-n4, serif;
}

