#u687
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	position: relative;
}

#u687_align_to_page
{
	position: relative;
}

#u689-5
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u689
{
	font-size: 9px;
	letter-spacing: 1px;
}

#u688-4
{
	letter-spacing: 0px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

