/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body, html, button, input, select, textarea {
    color: #222;
	 font-family: "Univers", Helvetica Neue, Helvetica, Arial, sans-serif;
}
html {
    line-height: 1.4;
	background-color:#2f3535;
}

/*	 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.	*/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* * A better looking default horizontal rule	*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
	margin:0px;
	margin-bottom:5px;
	margin-top:10px;
}

/* * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440	*/
audio, canvas, img, video {
    vertical-align: middle;
}

/* * Remove default fieldset styles.	*/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* * Allow only vertical resizing of textareas.	*/
textarea {
    resize: vertical;
}

/* ==========================================================================
   Page Styling
   ========================================================================== */

a, p, ul, h1, h2, h3, h5, h6{
	text-decoration:none;
	color:#FFF;
	list-style:none;
	margin:0px;
	padding:0px;
}
h1{
	font-size:48px;
	line-height:52px;
}
h2{
	font-weight:100;
	font-size:20px;
}
p{
	font-size:18px;
	font-weight:normal;
}
a:hover{
		color:#CCC;
}
  
/* ==========================================================================
   Page Layout
   ========================================================================== */

#sidebar{
	width:200px;
	position:fixed;
	margin-left:30px;
	margin-top:30px;
	padding:0px;
	background-color:transparent;
}
#main{
	min-height:600px;
	margin:60px;
	margin-left:250px;
	margin-top:30px;
	width:auto;
	background-color:transparent;
}
#intro{
	width:975px;
	margin-left:30px;
	margin-bottom:0px;
	padding-top:4px;
}
#footer{
	margin-top:20px;
	text-align:center;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

/* ==========================================================================
   Top bar linking back to all theses
   ========================================================================== */

#gdmfa { 
  width:100%;
  background-color: #fff; /** Background color of the bar. You can change this. **/
  z-index: 500;
}
#gdmfa p, a {
    color: #2f3535;  /** Text color. You can change this **/
    font-size: 12px;  
    font-weight: 700;
    line-height: 24px; ; 
    padding: 6px 12px;
    margin: 0;
    text-align: left;
}
#gdmfa p a { text-decoration:none; }  /** Makes the link underlined. Change it to "none" if you don't want that. **/
#gdmfa p a:hover { color: #666; }  /** Link color when the user mouses over it. You can change this. **/
#gdmfa p a:focus, #gdmfa p a:active { color: #666; }  /** Link color when the user clicks on it. You can change this. **/

/* ==========================================================================
   Menu
   ========================================================================== */
   
#filters ul ul {
  display: none;
}

/* ---- button ---- */
button {
  border: none;
  background-color:transparent;
  color:#FFF;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  padding:0px;
}
button:hover {
  color:#CCC;
}
button:active, button.is-checked {
  color: #CCC;
  outline:none; 
}

/* ---- button-group ---- */
ul{
	list-style:none;
	margin-left:0px;
}
.button-group:after {
  content: '';
  display: block;
  clear: both;
  margin:0px;
}
.button-group .button {
  margin-left: 0;
  margin-right: 1px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- isotope ---- */
.isotope {
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* item */
.item {
  margin: 30px;
  float: left;
}
.item img{
	width:100%;
}
.small{
	width:200px;
}
.wide{
	width:460px;
}

/* ==========================================================================
   Writing styling
   ========================================================================== */
   
.long{
	display:none;
}
.more{
	padding:0px;
	color:#666;
}

/* ==========================================================================
   Captions
   ========================================================================== */

.caption{
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:30px;
	position:absolute;
	bottom:0px;
	background-color:#222624;
	opacity:0;
	width:inherit;
}
.caption p{
	font-size:12px;
}
.caption h3{
	font-size:18px;
}
.item:hover .caption{
		-webkit-transition:opacity 0.5s ease-in-out;
		-moz-transition:opacity 0.5s ease-in-out;
		-o-transition:opacity 0.5s ease-in-out;
		-ms-transition:opacity 0.5s ease-in-out;
		transition:opacity 0.5s ease-in-out;
	opacity:0.8
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* * Image replacement	*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* * Hide from both screenreaders and browsers: h5bp.com/u	*/
.hidden {
    display: none !important;
    visibility: hidden;
}

/*	 * Hide only visually, but have it available for screenreaders: h5bp.com/v	*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p	*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* * Hide visually and from screenreaders, but maintain layout	 */
.invisible {
    visibility: hidden;
}

/* * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.		 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/* * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.		*/
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*	* Don't show links for images, or javascript/internal links	*/
    .ir a:after,
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}