/** Top bar linking back to all theses **/

#gdmfa { 
  width:100%;
  background-color: white; /** Background color of the bar. You can change this. **/
  z-index: 500;
  }

#gdmfa p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  /** Typeface. You can change this. **/
    color: black;  /** Text color. You can change this **/
    font-size: 12px;  
    font-weight: 700;
    line-height: 24px; ; 
    padding: 6px 12px;
    margin: 0;
    text-align: left;
    }
    
#gdmfa p a {color:black; }  /** Makes the link underlined. Change it to "none" if you don't want that. **/
#gdmfa p a:hover { color: grey; }  /** Link color when the user mouses over it. You can change this. **/
#gdmfa p a:focus, #gdmfa p a:active { color: black; }  /** Link color when the user clicks on it. You can change this. **/
#gdmfa p a:visited { color: black; }  /** Link color when it's been clicked before. You can change this.  **/

.sorts {
	display: block;
		 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	color: black;  /** Text color. You can change this **/
    font-size: 12px;  
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}