

.cs-style-1 figure {
	margin: 0;
	position: relative;
}

.cs-style-1 figure img {
	max-width: 100%;
	display: block;
	position: relative;
	/*  -webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%) */; 
}

.cs-style-1 figcaption {
	position: absolute;
	top: 0;
	left: 0;
  padding: 0;
	color: #000;
}

.cs-style-1 figcaption.one {	background: rgba($color-one,0.95);}
.cs-style-1 figcaption.two {	background: rgba($color-two,0.95);}
.cs-style-1 figcaption.three {	background: rgba($color-three,0.95);}

.hover-caption {
  	padding: $univ-pad;
  }

.cs-style-1 figcaption h3 {
	margin: 0;
	padding: 0;
	color: #000;
}


.cs-style-1 figcaption a {
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #fff;
	color: $spot-color;
}

/* Individual Caption Styles */

.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(($univ-pad * 0.33), ($univ-pad * 0.33));
	-moz-transform: translate(($univ-pad * 0.33), ($univ-pad * 0.33));
	-ms-transform: translate(($univ-pad * 0.33), ($univ-pad * 0.33));
	transform: translate(($univ-pad * 0.33), ($univ-pad * 0.33));
}

.cs-style-1 figcaption h3 {
	margin-top: ($univ-pad*1);
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top:  ($univ-pad*6);
}

@media screen and (max-width: 31.5em) {
	.cs-style-1 {
		padding: 10px 10px 100px 10px;
	}
	.cs-style-1 li {
		width: 100%;
		min-width: 300px;
	}
}
