$spot-color: rgb(60,0,255); // bright blue
$spot-color-riff: rgb(194,237,219);  // mint
$spot-color-dark: rgb(50,50,50);  // dark gray

/*
$color-one: rgba(36,75,255,0.25);
$color-two: rgba(254,103,91,0.25);
$color-three: rgba(15,204,131,0.25);
*/

$transp-02: 0.666;
$transp-01: 0.9;

$color-one: -webkit-gradient(linear, left bottom, right top, color-stop(0%, (rgba(0,255,68,$transp-01))), color-stop(100%, (rgba(0,255,209, $transp-02)))); 
$color-two: -webkit-gradient(linear, left bottom, right top, color-stop(0%, (rgba(238,108,254,$transp-01))), color-stop(100%, (rgba(255,108,254, $transp-02)))); 
$color-three: -webkit-gradient(linear, left bottom, right top, color-stop(0%, (rgba(48,175,252, $transp-01))), color-stop(100%, (rgba(178,86,254,$transp-02)))); 





$link-color: rgb(255,255,255);
$link-color-inv: $link-color;
$link-color-spot: $spot-color;

$grad-color: $spot-color-riff;
$grad-color-hover: $spot-color;

$univ-pad: 18px;

$opacity-fade: opacity 0.5s ease 0s;
$opacity-fade-out: opacity 0.25s ease 0s;

$text-bg: rgb(255,255,255);
$text-color: rgb(0,0,0);

