@import "normalize";
@import "variables";

/* Base Text Styles *******************/

body {
  font-family: Calibre, "Trebuchet MS", sans-serif;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 16px;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $spot-color-riff;
  color: #000;
  }

h1 {
  font-size: 45px;
  margin-bottom: $univ-pad;
  }
  
h4 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.015em;
  line-height: 1em;
  }


p {
      color: $text-color;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 0.015em;
}

/* Layout Styles *******************/

#container {
  height:100%;
  }
  
#page {
  width:1250px;
  margin:0px auto;
  padding: ($univ-pad * 2) 0;
  }
  
#header {margin-bottom: ($univ-pad * 2 )}

#students {
  margin-bottom: ($univ-pad * 4);
  }
  
.student {
  height:320px-($univ-pad * 1.5);
  width:250px-($univ-pad * 1.5);
  overflow:hidden;
  position: static;
  float:left;
  margin: 0px ($univ-pad * 1.5) ($univ-pad * 1.5) 0px;
  background-color: $spot-color;
  background-color: #fff;
  }
  
.student-container {
  position: relative;
  height:100%;
  width:100%;
  padding: 0;
  margin:0;
  h4, p {
    margin: ($univ-pad * 0.66) $univ-pad 0 0;
    padding:($univ-pad * 0.75) $univ-pad ($univ-pad * 0.5) $univ-pad;
    z-index:10;
    background-color: rgba($text-bg,0.5)
    }
  p {
    margin-top:0;
    padding-top:0;
    padding-bottom: $univ-pad
    } 
      
  .image img {
      position: absolute;
      top:0;
      z-index: 0;
      height:100%;

      }  
  img.normal { -webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%); }   
    
  .coverup {
    background:linear-gradient(-75deg, rgba($grad-color,0)66%, rgba($grad-color,0.75)100%);
    background:-webkit-linear-gradient(-75deg, rgba($grad-color,0)66%, rgba($grad-color,0.75)100%);
    background:-moz-linear-gradient(-75deg, rgba($grad-color,0)66%, rgba($grad-color,0.75)100%);
    height:100%;
    width:100%;
    z-index:5;
    position: absolute;
    top:0;
    }
    
  .normal, .hovered {
    position: absolute;
    transition: $opacity-fade-out;
    -webkit-transition: $opacity-fade-out;
    -moz-transition: $opacity-fade-out;
    }
     
  .hovered  { 
    opacity:0;       
    }
    
  .work-links {
    position: absolute;
    bottom:$univ-pad;
    right:($univ-pad * 0.75);
    z-index:15;
     a {
      /* background-color: rgba($link-color-inv,0.5); */
      padding:($univ-pad * 0.125) ($univ-pad * 0.25);
      color:$link-color;
      font-weight: 300;
      letter-spacing: 0.025em;
      }
      a:hover { background-color: rgba( $link-color-inv,1); color: rgba( $link-color-spot, 1 ); border-radius: 2px; }
      a:active { background-color: rgba( $link-color-spot, 1 ); color: rgba( $link-color-inv, 1 ); border-radius: 2px; }
      a:focus { background-color: rgba($link-color-inv,0.25); border-radius: 2px; }
      a:visited { color:$link-color; }
    }
    
  }
  
.student-container:hover {
  .normal { 
    opacity:0;     
    transition: $opacity-fade;
    -webkit-transition: $opacity-fade;
    -moz-transition: $opacity-fade;
    }    
  .hovered  { 
    opacity:1;     
    transition: $opacity-fade;
    -webkit-transition: $opacity-fade;
    -moz-transition: $opacity-fade;
    }
  .coverup {
    background:linear-gradient(-75deg, rgba($grad-color-hover,0)66%, rgba($grad-color-hover,0.75)100%);
    background:-webkit-linear-gradient(-75deg, rgba($grad-color-hover,0)66%, rgba($grad-color-hover,0.75)100%);
    background:-moz-linear-gradient(-75deg, rgba($grad-color-hover,0)66%, rgba($grad-color-hover,0.75)100%);
    }
  }

a {line-height: 24px;}
a:hover {}
a:focus {}
a:active {}
a:visited { color:inherit;}

nav {
  width:100%;
  height:24px;
  padding:6px 12px;
  background-color: #eee;
  }

footer {
  width:100%;
  height:76px;
  padding:12px;
}



/** Responsive Styles ******************************************************/

@media screen and (max-width: 1240px) {
  #page { width:960px; }  
  }
  
@media screen and (max-width: 1024px) {
  #page { width:80%; padding: 10%}  
  }

/** @fontface Import ******************************************************/
@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-light.eot');
  src: url('../type/cal-light.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-light.woff') format('woff'),
       url('../type/cal-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  }
    
@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-regular.eot');
  src: url('../type/cal-regular.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-regular.woff') format('woff'),
       url('../type/cal-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-medium.eot');
  src: url('../type/cal-medium.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-medium.woff') format('woff'),
       url('../type/cal-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-semibold.eot');
  src: url('../type/cal-semibold.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-semibold.woff') format('woff'),
       url('../type/cal-semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-lightitalic.eot');
  src: url('../type/cal-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-lightitalic.woff') format('woff'),
       url('../type/cal-lightitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-regularitalic.eot');
  src: url('../type/cal-regularitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-regularitalic.woff') format('woff'),
       url('../type/cal-regularitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-mediumitalic.eot');
  src: url('../type/cal-mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-mediumitalic.woff') format('woff'),
       url('../type/cal-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-semibolditalic.eot');
  src: url('../type/cal-semibolditalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-semibolditalic.woff') format('woff'),
       url('../type/cal-semibolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  }

