@import "normalize";
@import "skel";
@import "variables";
@import "hover";

/* Base Text Styles *******************/

body {
  font-family: Calibre, "Trebuchet MS", sans-serif;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 16px;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: Calibre, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: $spot-color;
  }

h1 {
  font-size: 50px;
  margin-bottom: $univ-pad;
  }
  
h4 { /** Name (under pic) **/
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.015em;
  line-height: 1em;
  margin: ($univ-pad * 0.5) 0 ($univ-pad * 0.5) 0;
  color: $text-color;
  text-transform: uppercase;
  }


p {
  color: $text-color;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 0.015em;
  line-height: 1.125em;
  max-width: 66%;
}

/* Layout Styles *******************/

#container {
  margin-top:($univ-pad * 2 );
  }
  
#header {margin-bottom: ($univ-pad * 2 )}

#students {
  margin-bottom: ($univ-pad * 4);
  }
  
.student {
  margin-bottom:($univ-pad * .5);
  text-align: left;
  }
  
.student-container {

  h4, p {
    margin: ($univ-pad * 0.66) $univ-pad 0 0;
    padding:($univ-pad * 0.75) $univ-pad ($univ-pad * 0.5) $univ-pad;
    z-index:10;
    background-color: rgba($text-bg,0.5)
    }
  p {
    margin-top:0;
    padding-top:0;
    padding-bottom: $univ-pad;
    font-size: 16px;
    } 
 
}
    
  
a {line-height: 24px;}
a:hover {color:$spot-color;}
a:focus {color:$spot-color;}
a:active {color:$spot-color;}
a:visited {color:inherit;}

nav {
  width:100%;
  height:24px;
  padding:6px 12px;
  background-color: $spot-color-dark;
  color:#fff;
  a {
    margin-right: ($univ-pad * 0.25); 
    font-weight: 300;
    font-size: 14px;
    }
  a:first-child {
    text-decoration: none;
    cursor:pointer;
    }
  }

footer {
  width:100%;
  height:76px;
  padding:12px;
}



/** Responsive Styles ******************************************************/

@media screen and (max-width: 1240px) {
  #page { width:960px; }  
  }
  
@media screen and (max-width: 1024px) {
  #page { width:80%; padding: 10%}  
  }

/** @fontface Import ******************************************************/
@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-light.eot');
  src: url('../type/cal-light.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-light.woff') format('woff'),
       url('../type/cal-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  }
    
@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-regular.eot');
  src: url('../type/cal-regular.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-regular.woff') format('woff'),
       url('../type/cal-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-medium.eot');
  src: url('../type/cal-medium.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-medium.woff') format('woff'),
       url('../type/cal-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-semibold.eot');
  src: url('../type/cal-semibold.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-semibold.woff') format('woff'),
       url('../type/cal-semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-lightitalic.eot');
  src: url('../type/cal-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-lightitalic.woff') format('woff'),
       url('../type/cal-lightitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-regularitalic.eot');
  src: url('../type/cal-regularitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-regularitalic.woff') format('woff'),
       url('../type/cal-regularitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-mediumitalic.eot');
  src: url('../type/cal-mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-mediumitalic.woff') format('woff'),
       url('../type/cal-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  }

@font-face {
  font-family: 'Calibre';
  src: url('../type/cal-semibolditalic.eot');
  src: url('../type/cal-semibolditalic.eot?#iefix') format('embedded-opentype'),
       url('../type/cal-semibolditalic.woff') format('woff'),
       url('../type/cal-semibolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  }

